
<div class="container-narrow">
  <div class="masthead"  >
    <ul class="nav nav-pills pull-right">
      <li ng-class="{active: ($location.path() == '/') }"><a href="#/">Home</a></li>
      <!--<li ng-class="{active: ($location.path() == '/list') }"><a href="#/evento/list">Eventos</a></li>-->
      <li ng-class="{active: ($location.path() == '/powervote/forms/list') }"><a href="#/powervote/forms/list">Form</a></li>
    </ul>
    <h3 class="muted"><strong>Powervote</strong></h3>
  </div>

  <hr>

  <div ui-view =""></div>
  <hr>
  <div class="footer">
    <!--<p> Developed by <a href="http://studiolhama.com.br/" target="_blank" >Estudio Lhama</a> & <a href="http://craftcode.com.br" target="_blank">CraftCode</a> (c) 2015 </p>-->
  </div>
</div>
