<h1><strong>Cadastro de Evento</strong></h1> <br>

<div class="well" ng-init="init()">
  <div class="form-fields" ng-hide="previewMode">
    <form  ng-submit="submit()"  >
      <div class="form-horizontal">

        <div class="form-group">
          <label for ="evento.name" class="col-sm-2 control-label">Nome</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="evento.name" ng-model="evento.name" placeholder="Nome do Evento" required>
          </div>
        </div>

        <div class="form-group">
          <label for="evento.description"  class="col-sm-2 control-label">Boas Vindas</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="evento.description" ng-model="evento.description"  placeholder="Mensagem de Boas Vindas" ng-trim="boolean"></textarea>
          </div>
        </div>

        <div class="form-group" ng-show="logo">
          <label class="col-sm-2 control-label">Logo</label>
          <div class="col-sm-10">
            <input type="file" nv-file-select="" uploader="logo"  placeholder="ds" ></div><br/>
            <div class="col-sm-10" ng-repeat="item in logo.queue">
              <div ng-show="logo.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
              <div ng-show="logo.isHTML5" nowrap>{{  item.file.size/1024/1024|number:2 }} MB</div>
              <div ng-show="logo.isHTML5">
                <div class="progress" style="">
                  <div class="progress-bar" role="progressbar" ng-style="{ 'width': logo.progress + '%' }"></div>
                </div>
              </div>
          </div>
        </div>

        <div class="form-group">
          <label for="evento.backgroundcollor" class="col-sm-2 control-label">Fundo Cor</label>
          <div class="col-sm-10">
            <div class="input-group colorpicker-component colorpicker-background">
              <span class="input-group-addon"><i style="background-color: {{evento.backgroundcollor}};"></i></span>
              <input type="text" class="form-control" id="evento.backgroundcollor" ng-model="evento.backgroundcollor" ng-change="collor(this)" placeholder="Cor do Fundo"/>
            </div>
          </div>
        </div>


        <div class="form-group" ng-show="background">
          <label class="col-sm-2 control-label">Imagem de Fundo</label>
          <div class="col-sm-10">
            <input type="file" nv-file-select="" uploader="background"  placeholder="ds"></div><br/>
          <div class="col-sm-10" ng-repeat="item in background.queue">
            <div ng-show="background.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
            <div ng-show="background.isHTML5" nowrap>{{  item.file.size/1024/1024|number:2 }} MB</div>
            <div ng-show="background.isHTML5">
              <div class="progress" style="">
                <div class="progress-bar" role="progressbar" ng-style="{ 'width': background.progress + '%' }"></div>
              </div>
            </div>
          </div>
        </div>


        <div class="form-group">
          <label for="evento.textcollor" class="col-sm-2 control-label">Texto Cor</label>
          <div class="col-sm-10">
            <div class="input-group colorpicker-component colorpicker-texto">
              <span class="input-group-addon"><i  style="background-color: {{evento.textcollor}}"></i></span>
                <input type="text" class="form-control" for="evento.textcollor" ng-model="evento.textcollor" id="evento.textcollor" placeholder="Cor do Texto"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="evento.uploadMessage" class="col-sm-2 control-label">Mensagem Upload</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="evento.uploadMessage" ng-model="evento.uploadMessage" rows="4"
                      placeholder="Mensagem de sucesso do upload de fotos"  ng-trim="boolean"></textarea>
          </div>
        </div>

        <div class="form-group">
          <label for="evento.cadastreMessage" class="col-sm-2 control-label">Mensagem Cadastro</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="evento.cadastreMessage" ng-model="evento.cadastreMessage" rows="4"
                      placeholder="Mensagem de sucesso do cadastro de usuário"  ng-trim="boolean"></textarea>
          </div>
        </div>

        <div class="form-group">
          <label for="evento.url" class="col-sm-2 control-label">URL Evento</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="evento.url" ng-model="evento.url" placeholder="Url do Evento">
          </div>
        </div>

        <div class="form-group">
          <label for="evento.urlApp" class="col-sm-2 control-label">URL App</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="evento.urlApp" ng-model="evento.urlApp" placeholder="URL App">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-large btn-primary">Salvar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>