<div >
  <h1><strong>Eventos Cadastrados</strong></h1>
  <div class="row">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-4">
      <label for="search">Search:</label>
      <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
    </div>
    <div class="col-xs-4">
      <label for="search">items per page:</label>
      <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
    </div>
  </div>
  <table class="table table-striped"  ng-show="eventos.length > 0">
    <thead>
    <th>#</th>
    <th>Nome</th>
    <th>Descrição</th>
    <th></th>
    </thead>
    <tbody >
    <tr dir-paginate="evento in eventos | orderBy:'name' | itemsPerPage: pageSize | filter: q " ng-show="eventos.length > 0">
      <th scope="row"></th>
      <td><a href="#" ng-click="goToForm(evento)"> {{evento.name}}</a></td>
      <td>{{evento.description}}</td>
      <td class="text-right">
        <button type="button" class="btn btn-success" ng-click="edit(evento);">
          <span class="glyphicon glyphicon glyphicon-edit"></span>
        </button>
        <button type="button" class="btn btn-danger" ng-click="delete(evento);">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </td>
    </tr>
    <tr dir-paginate="evento in eventos | orderBy:'name' | itemsPerPage: pageSize | filter: q " ng-show="eventos.length === 0">
      <h4>Não existem eventos cadastrados.</h4>
    </tr>
    </tbody>

  </table>

  <dir-pagination-controls></dir-pagination-controls>

  <div class="form-group">
    <div class="btn-group">
      <a href="#/evento/create" class="btn btn-large btn-primary">
        Criar Evento
      </a>
    </div>
  </div>


</div>