<h1>Cadastro de Evento</h1> <br>

<div class="well">
  <div class="form-fields" ng-hide="previewMode">
      <div class="form-properties">
        <div class="col-sm-10">
          <label class="col-sm-2 control-label">Nome do Evento</label>
          <p>{{evento.name}}</p>
        </div>
        <div class="col-sm-10">
          <label  class="col-sm-2 control-label">Data</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="evento.date" ng-model="evento.date"  placeholder="Data">
          </div>
        </div>
        <div class="col-sm-10">
          <label  class="col-sm-2 control-label">Vagas</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="evento.vacancy" ng-model="evento.vacancy" placeholder="Vagas">
          </div>
        </div>
        <div class="col-sm-10">
          <label  class="col-sm-2 control-label">Mensagem</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="evento.message" ng-model="evento.message" placeholder="Mensage">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-large btn-success">Salvar</button>
          </div>
        </div>
      </div>
  </div>
</div>