<h2>{{ form.form_name }}</h2>
  <div  ng-if="!form.canRecord" class="control-group error">
    <h4 class="control-label" >It is not possible to make new entries</h4>
  </div>
<br/>
<div ng-show="!form.submitted">
    <form name="myForm" id="myForm" >
        <div ng-repeat="field in form.form_fields">
            <field-directive field="field" form="myForm">
            </field-directive>
        </div>
    </form>

    <div class="form-actions">
        <p class="text-center">
            <button class="btn btn-success right" type="button" ng-disabled="!form.canRecord || !myForm.$valid" ng-click="submit()"><i class="icon-edit icon-white"></i> Submit Form</button>
            <button class="btn btn-danger right" type="button" ng-click="cancel()"><i class="icon-remove icon-white"></i> Cancel</button>
        </p>
    </div>
</div>

<div ng-show="form.submitted">
    <h3>Submitted Data</h3>
    <div ng-repeat="field in form.form_fields">
        Field Title: {{ field.field_title }} <br>
        Field Value: {{ field.field_value }} <br><br>
    </div>
</div>
