<h1>Create Form</h1> <br>

<div class="well">

  <div class="form-fields" ng-hide="previewMode">
    <div class="form-properties" ng-form name="formform">
      <h3>Form Properties</h3>
      <div class="row">
        <div class="span2">Form Name:</div>
        <div class="span5" ng-if="isupdate">
          <span>{{form.form_name}}</span>
        </div>
        <div class="control-group span5" ng-if="!isupdate" ng-class=" formform.form_name.$error.formname ? 'error' : 'success' ">
          <input type="text" id="form_name" name="form_name" ng-disabled="previewMode" ng-model="form.form_name" ng-model-options="{ updateOn: 'blur' }" formname class="span3">
          <label class="control-label" for="form_name" ng-show="formform.form_name.$error.formname">This formename is already taken!</label>
          <label class="control-label" for="form_name" ng-show="!formform.form_name.$error.formname">This formename is ok!</label>
        </div>
      </div>
      <div class="row">
        <div class="span2">There is Limit:</div>
        <div class="span5">
          <input type="checkbox" ng-model="form.haslimit">
        </div>
      </div>
      <div class="row">
        <div class="span2">Record Limit:</div>
        <div class="span5">
          <input ng-disabled="!form.haslimit" type="text" id="record_limit" name="record_limit" ng-model="form.record_limit" for="form_name"></span>
        </div>
      </div>

    </div>

    <hr>

    <h3>Form</h3>
    <div class="add-field">
      <select ng-model="addField.new" ng-options="type.name as type.value for type in addField.types"></select>
      <button type="submit" class="btn " ng-click="addNewField()"><i class="icon-plus"></i> Add Campo</button>
    </div>
    <hr>
    <div  class="control-group error">
      <h4 class="control-label" ng-show="form.form_fields.length == 0">No fields added yet.</h4>
      <h4 class="control-label" ng-show="errorMsg.length > 0">{{errorMsg}}</h4>
    </div>

    <accordion close-others="accordion.oneAtATime">
      <accordion-group heading="{{field.field_title}}" ng-repeat="field in form.form_fields">

        <div class="accordion-edit">
          <button class="btn btn-danger pull-right" type="button" ng-click="deleteField(field.field_id)"><i class="icon-trash icon-white"></i> Delete</button>

          <div class="row">
            <div class="span2">Field ID: </div>
            <div class="span4">{{field.field_id}}</div>
          </div>
          <div class="row">
            <div class="span2">Field Type:</div>
            <div class="span4">{{field.field_type}}</div>
          </div>

          <div class="clear"></div> <hr>

          <div class="row">
            <div class="span2">Field Title:</div>
            <div class="span4"><input type="text" ng-model="field.field_title" value="{{field.field_title}}"></div>
          </div>
          <div class="row">
            <div class="span2">Field Default Value:</div>
            <div class="span4"><input type="text" ng-model="field.field_value" value="{{field.field_value}}"></div>
          </div>
          <div class="row" ng-show="showAddOptions(field)">
            <div class="span2">Field Options:</div>
            <div class="span6">
              <div ng-repeat="option in field.field_options">
                <input type="text" ng-model="option.option_title" value="{{option.option_title}}">
                <a class="btn btn-danger btn-mini right" type="button" ng-click="deleteOption(field, option)"><i class="icon-minus icon-white"></i></a>
                <span class="label label-inverse">Value: {{ option.option_value }}</span>
              </div>
              <button class="btn btn-primary btn-small" type="button" ng-click="addOption(field)"><i class="icon-plus icon-white"></i> Add Option</button>
            </div>
          </div>

          <div class="clear"></div> <hr>

          <div class="row">
            <div class="span2">Required:</div>
            <div class="span4">
              <label>
                <input type="radio" ng-value="true" ng-selected ng-model="field.field_required"/>
                &nbsp; Yes
              </label>
            </div>
            <label>
              <input type="radio" ng-value="false" ng-model="field.field_required"/>
              &nbsp; No
            </label>
          </div>

          <div class="row">
            <div class="span2">Unique:</div>
            <div class="span4">
              <label>
                <input type="radio" ng-value="true" ng-selected ng-model="field.field_unique"/>
                &nbsp; Yes
              </label>
            </div>
            <label>
              <input type="radio" ng-value="false" ng-model="field.field_unique"/>
              &nbsp; No
            </label>
          </div>

          <div class="row">
            <div class="span2">Disabled:</div>
            <div class="span4">
              <label>
                <input type="radio" ng-value="true" ng-selected ng-model="field.field_disabled"/>
                &nbsp; Yes
              </label>
            </div>
            <label>
              <input type="radio" ng-value="false" ng-model="field.field_disabled"/>
              &nbsp; No
            </label>
          </div>
        </div>
      </accordion-group>
    </accordion>

    <p class="text-center">
      <button class="btn btn-primary right" type="button" ng-click="previewOn()"><i class="icon-eye-open icon-white"></i> Preview Form</button>
      <button class="btn btn-danger right" type="button" ng-click="reset()"><i class="icon-refresh icon-white"></i> Reset</button>
      <button class="btn btn-success right" type="button" ng-click="save()" ng-if="!isupdate"><i class="icon-refresh icon-white"></i> Save</button>
      <button class="btn btn-success right" type="button" ng-click="update()" ng-if="isupdate"><i class="icon-refresh icon-white"></i> Update</button>
    </p>

    <br><hr>

    <div ng-show="showJson">
      <h4>Form object content:</h4>
      <pre>{{ form | json }}</pre>
    </div>
  </div>


  <div class="form-fields-preview" ng-show="previewMode">
    <form-directive form="previewForm"></form-directive>
    <p class="text-center">
      <button class="btn btn-primary btn-large right" type="button" ng-click="previewOff()"><i class="icon-arrow-left icon-white"></i> Back to Create Mode</button>
    </p>
  </div>
</div>