<div >
  <h1><strong>Form Create</strong></h1>
  <div class="row-fluid"  >
    <div class="span4" >
    </div>
    <div class="span4" >
      <label for="search">Search:</label>
      <input ng-model="q" id="search" placeholder="Filter text" type="text" class="span10">
    </div>
    <div class="span4 text-right">
      <label for="search">items per page:</label>
      <input type="number" min="1" max="100" ng-model="pageSize" class="span10">
    </div>
  </div>
  <table class="table table-striped"  ng-show="forms.length > 0">
    <thead>
    <th>#</th>
    <th>Name</th>
    <th class="text-right"></th>
    </thead>
    <tbody >
    <tr dir-paginate="form in forms | orderBy:form_name | itemsPerPage: pageSize | filter: q " ng-show="forms.length > 0">
      <th scope="row"></th>
      <td><a href="#/powervote/forms/view/{{form.id}}"> {{form.form_name}}</a></td>
      <td class="text-right">
        <a type="button" type="button" class="btn btn-sm btn-success" href="#/powervote/forms/{{form.form_name}}">
          <span class="icon-white icon-pencil"></span>
        </a>
        <a type="button" type="button" class="btn btn-sm btn-warning" href="#/powervote/forms/edit/{{form.id}}">
          <span class="icon-white  icon-edit"></span>
        </a>
        <button type="button" class="btn btn-sm btn-danger" ng-click="delete(form);">
          <span class="icon-white icon-remove"></span>
        </button>

      </td>
    </tr>
    <tr dir-paginate="form in forms | orderBy:form_name | itemsPerPage: pageSize | filter: q " ng-show="forms.length === 0">
      <hr>
      <h4>Does not exit Forms saved</h4>
      <hr>
    </tr>
    </tbody>

  </table>

  <dir-pagination-controls></dir-pagination-controls>

  <div class="form-group">
    <div class="btn-group">
      <a href="#/powervote/forms/create" class="btn btn-large btn-primary">
        Create Form
      </a>
    </div>
  </div>


</div>