<div >
  <h1><strong>Dados Formulários</strong></h1>
  <div class="row">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-4">
      <label for="search">Search:</label>
      <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
    </div>
    <div class="col-xs-4">
      <label for="search">items per page:</label>
      <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
    </div>
  </div>
  <table class="table table-striped"  ng-show="datas.length > 0">
    <thead>
    <th>#</th>
    <th>Nome</th>
    <th></th>
    </thead>
    <tbody >
    <tr dir-paginate="data in formdatas |  itemsPerPage: pageSize | filter: q " ng-show="forms.length > 0">
      <th scope="row"></th>
      <td><a href="#/powervote/forms/edit/{{data.id}}"> {{data.form_name}}</a></td>
      <td class="text-right">
        <a type="button" type="button" class="btn btn-success" href="#/powervote/forms/edit/{{form.id}}">
          <span class="glyphicon glyphicon glyphicon-edit"></span>
        </a>
        <button type="button" class="btn btn-danger" ng-click="delete(form);">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </td>
    </tr>
    <tr dir-paginate="form in forms | orderBy:form_name | itemsPerPage: pageSize | filter: q " ng-show="forms.length === 0">
      <h4>Não existem formulário cadastrados.</h4>
    </tr>
    </tbody>

  </table>

  <dir-pagination-controls></dir-pagination-controls>

  <div class="form-group">
    <div class="btn-group">
      <a href="#/powervote/forms/create" class="btn btn-large btn-primary">
        Criar Formulário
      </a>
    </div>
  </div>


</div>