<div class="row-fluid"  >
  <div class="span4" >
  </div>
  <div class="span4" >
    <label for="search">Search:</label>
    <input ng-model="q" id="search" placeholder="Filter text" type="text" class="span10">
  </div>
  <div class="span4 text-right">
    <label for="search">items per page:</label>
    <input type="number" min="1" max="100" ng-model="pageSize" class="span10">
  </div>
</div>
<h3>Form Data</h3>
<div class="well">
  <div class="form-fields-preview" dir-paginate="data in datas | itemsPerPage: pageSize |  filter: q"  ng-show="datas.length > 0">
      <div ng-repeat="field in data.fields" >
        <strong>{{ field.field_title }}:</strong> {{ field.field_value }}
        <div ng-if="field.field_address">
          <div><strong>Logradouro: </strong>{{field.field_address.street}}</div>
          <div><strong>Número: </strong>{{field.field_address.number}}</div>
          <div><strong>Complemento: </strong>{{field.field_address.adjunct}}</div>
          <div><strong>Bairro: </strong>{{field.field_address.neighborhood}}</div>
          <div><strong>UF: </strong>{{field.field_address.uf}}</div>
          <div><strong>Cidade: </strong>{{field.field_address.city}}</div>
        </div>
      </div>
    <br/>
  </div>
  <div ng-show="datas.length === 0">
    <h4>Does not exist data saved.</h4>
  </div>
</div>