<div class="field row  control-group" ng-class="form.cnpj.$error.required ? 'error' : 'success'">
  <div class="span2">{{field.field_title}}:</div>
  <div class="span4"  class="control">
    <input value="{{field.field_value}}" ng-model="field.field_value" name="cnpj" ng-required="field.field_required"
           ng-disabled="field.field_disabled" ng-cnpj ui-mask="99.999.999/9999-99"/>
    <span class="help-inline" ng-show="form.cnpj.$error.required">* required</span>
    <span class="help-inline" ng-show="!form.cnpj.$error.required && (form.cnpj.$error.parse || form.cnpj.$error.cnpj)">* Invalid</span>
  </div>
</div>


