<div class="field row  control-group" ng-class="form.cpf.$error.required ? 'error' : 'success'">
  <div class="span2">{{field.field_title}}:</div>
  <div class="span4"  class="control">
    <input value="{{field.field_value}}" ng-model="field.field_value" name="cpf" ng-required="field.field_required"
           ng-disabled="field.field_disabled" ng-cpf ui-mask="999.999.999-99"/>
    <span class="help-inline" ng-show="form.cpf.$error.required">* required</span>
    <span class="help-inline" ng-show="!form.cpf.$error.required && (form.cpf.$error.parse || form.cpf.$error.cpf)">* Invalid</span>
  </div>
</div>


