<div class="field row  control-group" ng-class="field.field_required && !field.field_value ? 'error' : 'success'">
    <div class="span2">{{field.field_title}}:</div>
    <div class="span4"  class="control">
        <input type="email" placeholder="Email" value="{{field.field_value}}" ng-model="field.field_value" ng-required="field.field_required" ng-disabled="field.field_disabled"/>
        <span class="help-inline" ng-show="field.field_required && !field.field_value">* required</span>
    </div>
</div>
