<div class="field row  control-group" ng-class="form.phonenumber.$error.required ? 'error' : 'success'">
  <div class="span2">{{field.field_title}}:</div>
  <div class="span4"  class="control">
    <input value="{{field.field_value}}" ng-model="field.field_value" name="phonenumber" ng-required="field.field_required"
           ng-disabled="field.field_disabled" ui-br-phone-number/>
    <span class="help-inline" ng-show="!form.phonenumber.$error.required && form.phonenumber.$error.brPhoneNumber">* invalid</span>
    <span class="help-inline" ng-show="field.field_required && form.phonenumber.$error.required">* required</span>
  </div>
</div>


