<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" />
</head>
<body ng-app="todoApp" >

<div ng-controller="TodoListController">
  <div class="well">
  <div class="input-group colorpicker-component demo demo-auto colorpicker-element">
    <input type="text" value="" class="form-control" />
    <span class="input-group-addon"><i></i></span>
  </div>
  </div>

  <form name="myorm">

    <input name="cpf" ng-model="cpf" ng-cpf ui-mask="999.999.999-99" />
    myorm.cpf.$valid: {{ myorm.cpf.$valid }}

  </form>
</div>


<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/ng-cpf-cnpj/lib/ngCpfCnpj.js"></script>
<script src="bower_components/angular-ui-mask/dist/mask.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
</body>

</html>
<script>
  var angularApp =  angular.module('todoApp', ['ngCpfCnpj'])
    .controller('TodoListController', function($scope) {
      $scope.color ='';
      $('.colorpicker-element').colorpicker();
    });

</script>