<div class="field row control-group" ng-class="form.zipcode.$error.required ? 'error' : 'info'">
  <div class="span2">CEP:</div>
  <div class="span4"  class="control">
    <input value="{{field.field_value}}" ng-model="field.field_value" name="zipcode" ng-required="field.field_required"
           ng-disabled="field.field_disabled" via-cep="cep" ui-mask="99999-999" size="10" width="10px">
    <span class="help-inline" ng-show="!form.zipcode.$error.required && form.zipcode.$error">Cep inválido</span>
    <span class="help-inline" ng-show="field.field_required && form.zipcode.$error.required">* required</span>
  </div>
</div>

<div class="field row">
  <div class="span2">Logradouro:</div>
  <div class="span4"  class="control">
    <input type="text" name="street" ng-model="field.field_address.street" via-cep="logradouro" disabled>
  </div>
</div>

<div class="field row control-group" ng-class="form.number.$error.required ? 'error' : 'info'">
  <div class="span2">Número:</div>
  <div class="span4"  class="control">
    <input type="number" name="number" ng-model="field.field_address.number" ng-required="field.field_required"
           ng-disabled="field.field_disabled">
    <span class="help-inline" ng-show="form.number.$error.required">* required</span>
  </div>
</div>
<div class="field row">
  <div class="span2">Complemento:</div>
  <div class="span4"  class="control">
    <input type="text" name="adjunct" ng-model="field.field_address.adjunct"
           ng-disabled="field.field_disabled">
  </div>
</div>
<div class="field row">
  <div class="span2">Bairro:</div>
  <div class="span4"  class="control">
    <input type="text" name="neighborhood" ng-model="field.field_address.neighborhood" via-cep="bairro" disabled>
  </div>
</div>
<div class="field row">
  <div class="span2">UF:</div>
  <div class="span4"  class="control">
    <input type="text" name="uf" ng-model="field.field_address.uf" via-cep="uf" disabled>
  </div>
</div>
<div class="field row">
  <div class="span2">Cidade:</div>
  <div class="span4"  class="control">
    <input type="text" name="city" ng-model="field.field_address.city" via-cep="localidade" disabled>
  </div>
</div>
