<div >
    <h1><strong>Powervote Manager</strong></h1>
    <p class="lead">Online tools to create and manager dynamic forms.</p>
    <a class="btn btn-large btn-success" href="#/powervote/forms/create">Create Form!</a>
</div>
